.container{
  width :100%;
  min-height:100vh;
  padding:0%;
display: flex;
align-items: center;
justify-content:content;

 }

body{
background-color:#A7FFE4;
}
.search{
    size: 50px;
    width: 100%;
    max-width: 700px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:10px 20px;
    position: absolute;
    top:400px;
    left: 400px;


}
.search input{
    background: transparent;
    flex:1;
    border: 0;
    padding : 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.search button{

    border-radius: 50%;
    width: 80px;
    height:80px;
    background: #58629b;
    cursor: pointer;
}
.text{
    font-family: 'Viga', sans-serif;
    position: absolute;
    top:100px;
    left: 430px;
    font-size: 70px;

}
.text1{
    position: absolute;
    top:600px;
    color: red;
    left: 450px;

}
.Nonmal{

padding-left:130px;
position:absolute;
top:150px;
left:400px;
}
.mal{
font-family:Montserrat;
padding-left:130px;
position:absolute;
top:150px;
left:400px;
}
.img1{
position:absolute;
top:100px;
size:50px;
}
.but{
color: red;
}