<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">

    <title>App</title>
</head>
<body>
    <h1 class="text"> SCAN ANY WEBSITES</h1>
    <div class="container">
    <form action="."class="search" method="post">
        <input type="text" placeholder="enter the url" name="say">
<!--        <button type="submit"> <input type="image" src="img.png"></button>-->
        <button type = "submit" name = "learn" value = "myimage" class="but">
<!--   <img src="{{url_for('static', filename='img.png')}}"  class="img1"/>-->
</button>
    </form>
<!--    <div class ="text1">-->
<!--        <a id="Malicious"></a><span>Malicious</span>-->
<!--        <a id="NotMalicious"></a><span>NotMalicious</span>-->
<!--    </div>-->
    </div>


</body>
</html>
